body {
  background-color: rgb(31, 30, 30);
  min-width: 500px;
  word-wrap:break-word;
}

/* Main page style */

.Main > .categories {
  margin: 0px;
  background-color: lightgray;
}

.Main > .categories a {
  word-wrap: break-word;
  text-decoration: inherit;
  color: rgb(82, 82, 82);
}

.Main > .categories a:hover {
  color: darkcyan;
}

.Main > .categories h2 {
  color: rgb(82, 82, 82);
}

@media (max-width: 768px) {
  .Main > .categories {
    padding:16px;
    padding-bottom: 1px;
  }
  .Main > .categories .category {
    padding-left:16px;
  }
  .Main > .post-list h2 {
    margin-top:0px;
    color: rgb(82, 82, 82);
  }
}

@media (min-width: 768px) {
  .Main > .categories {
    width: 12em;
    padding-left:2em;
    padding-right:2em;
    float: right;
    height: 100vh;
    position: fixed;
    right: 0;
  }
  .Main > .post-list {
    float:left;
    width: -webkit-calc(100% - 16em);
    width:    -moz-calc(100% - 16em);
    width:         calc(100% - 16em);
  }
}


/* Post list styles */
.back-link p {
  float: left;
  margin: 10px;
  margin-right: 0px;
  width: 3em;
  height: 3em;
  background-color: rgb(82, 82, 82);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('./images/arrow-left.svg');
  mask-image: url('./images/arrow-left.svg');
  mask-repeat: no-repeat;
}

.back-link:hover p {
 background-color: darkcyan;
}

.post-list {
  background-color: lightgray;
}

.post-list h2 {
  padding: 20px;
  min-width: 130px;
  margin: 0;
  float: left;
  color: rgb(82, 82, 82);
  width: -webkit-calc(100% - 600px);
  width:    -moz-calc(100% - 600px);
  width:         calc(100% - 600px);
}


.post-list .sort-text .interactable:hover {
  color: darkcyan;
  cursor: pointer;
}

.post-list .sort-text .clicked:hover, .post-list .sort-text .clicked {
  color: darkcyan;
  cursor: default;
}

.post-list .sort-text {
  float: right;
  text-align: right;
  padding: 16px;
  padding-top: 45px;
  padding-bottom: 0px;
  width: 230px;
}

.post-list .sort-text p {
  display: inline;
}

.post-list .list-of-posts {
  padding-top: 70px;
}

.post {
  overflow: hidden;
  display: flex;
  align-items:center;
}

.post.evenPost {
  background-color: rgb(51, 51, 51);
}

.post.oddPost {
  background-color: rgb(88, 88, 88);
}

.post:hover {
  background-color: gray;
}

.postDetails {
  height: 100%;
  width: 100%;
}

.postDetails a {
  color: whitesmoke;
  text-decoration: inherit;
}

.postDetails a:hover {
  color: lightblue;
}

.Voter {
  padding: 1em;
  width:auto;
  text-align: center;
  float:left;
}

.Voter p {
  color: whitesmoke;
  text-align: center;
  margin: 0px;
  margin-bottom: .3em;
}

 .Voter > .upvote.votedUp:hover, .Voter > .upvote.votedUp {
  background-color: greenyellow;
  cursor: default;
 }

.Voter > .upvote:hover, .Voter > .upvote:focus {
  background-color: greenyellow;
  cursor: pointer;
}

.Voter > .downvote.votedDown:hover, .Voter > .downvote.votedDown {
  background-color: red;
  cursor: default;
}

.Voter > .downvote:hover, .Voter > .downvote:focus {
  background-color: red;
  cursor: pointer;
}

.Voter > .upvote {
  -webkit-mask-image: url('./images/chevron-up.svg');
  mask-image: url('./images/chevron-up.svg');
}

.Voter > .downvote {
  -webkit-mask-image: url('./images/chevron-down.svg');
  mask-image: url('./images/chevron-down.svg');
}

.Voter > .upvote, .Voter > .downvote {
  width: 2em;
  height: 2em;
  border: none;
  background-color: whitesmoke;
}

/* Post details */
.post-header {
  margin: 0px;
  padding: 1em;
  background-color: lightgray;
}

.post-header .body {
  background-color: white;
  padding: 1em;
}

.post-header .Voter {
  border-radius: 2em;
  margin: 1em;
  background-color: rgb(51, 51, 51);

}

.post-header .back-link p {
  margin-top: 3em;
}

.post-header .post-details {
  margin-left: 150px;
}

.post-page .sort-text {
  padding-top: 0px;
}

.post-page .list-of-posts {
  padding-top: 20px;
}

.comment p {
  color: whitesmoke;
}